@import url("../3_holy_grail_layout/styles.css");

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 80%;
    border: 1px solid gray;
}
.content nav {
    order: 0;
}

.content main {
    padding: 10px;
    order: 1;
}

.content aside {
    order: 2;
}
