@import './resets';
@import './variables';

body {
    background: $background;
    color: $text-color;
}

.main {
    width: 80%;
    margin: 0 auto;

    #{&}-paragraph {
        font-weight: map-get($font-weight, bold);

        &:hover {
            color: pink;
        }
    }
}
