@import './resets';
@import './variables';

@function weight($weight-name) {
    @return map-get($font-weight, $weight-name);
}

body {
    background: $background;
    color: $text-color;
}

.main {
    width: 80%;
    margin: 0 auto;

    #{&}-paragraph {
        font-weight: weight(regular);

        &:hover {
            color: pink;
        }
    }
}
