body {
    font-family: sans-serif;
    background-color: #222222;
    color: white;
}

table.calculator {
    width: 450px;
    border-spacing: 4px;
}


tr {
    height: 45px;
}

td.btn {
    text-align: center;
    background-color: #999999;
    border-radius: 7px;
}

td.btn-num {
    background-color: #444444;
}

td.btn-func {
    background-color: #ff9000;
}

td.btn-equal {
    background-color: orangered;
}

td#display {
    padding-right: 4px;
}